body{
  background-color: #ecf9ec;
  font-family: Tahoma,Verdana,Segoe,sans-serif;

}

body{
  max-width: 100%;
  height: auto;
  text-align: center;
}

img{
  max-width:100%;
  display: block;
  margin: auto;
  cursor: url("https://th.bing.com/th?q=Pouring+One+Out&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=en-US&adlt=moderate&t=1&mw=247"), auto;
}

img:hover{
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);


}


#image{
  border-radius: 100%;
  border: 3px solid gray;
  height: auto;
  width: 300px;
}
ul{
  list-style-position: inside;
}

#img-caption{
  font-style: italic;
}

#tribute-link:hover{
  color: blue;
}

/*code below copied from some dude on internet to test effect*/

.grow:hover {
    background-size: 130% 130%;
    -webkit-filter: blur(2px) grayscale(50%) brightness(50%);
    -moz-filter: blur(2px) grayscale(50%) brightness(50%);
    -o-filter: blur(2px) grayscale(50%) brightness(50%);
    -ms-filter: blur(2px) grayscale(50%) brightness(50%);
    filter: blur(2px) grayscale(50%) brightness(50%);
}

.grow:hover + .imgtxt {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
}

.imgtxt {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-bottom: 400px;

    pointer-events: none;
    text-decoration: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;

    -moz-transition: all 1.25s;
    -o-transition: all 1.25s;
    -ms-transition: all 1.25s;
    -webkit-transition: all 1.25s;
    transition: all 1.25s;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

    opacity: 0;

    text-align: center;
    color: white;
    font-size: 1.5em;
}
