body{
  background-color: #ecf9ec;
  font-family: Tahoma,Verdana,Segoe,sans-serif;

}

body{
  max-width: 100%;
  height: auto;
  text-align: center;
}

img{
  max-width:100%;
  display: block;
  margin: auto;
}

#image{
  border-radius: 100%;
  border: 3px solid gray;
  height: auto;
  width: 300px;
}
ul{
  list-style-position: inside;
}
