body{
  background-color: #ecf9ec;
  font-family: Tahoma,Verdana,Segoe,sans-serif;

}

body{
  max-width: 100%;
  height: auto;
  text-align: center;
}

img{
  max-width:100%;
  display: block;
  margin: auto;
  cursor: url("https://th.bing.com/th?q=Pouring+One+Out&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=en-US&adlt=moderate&t=1&mw=247"), auto;
}

img:hover{
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);


}

#image{
  border-radius: 100%;
  border: 3px solid gray;
  height: auto;
  width: 300px;
}
ul{
  list-style-position: inside;
}

#img-caption{
  font-style: italic;
}

#tribute-link:hover{
  color: blue;
}
